.more-screen .icon-row {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 13px; /* Space between items */
    margin-top: 22px;
}

.more-screen .icon-row__icons {
    flex: 1 1 22%; /* Grow to fill space, basis at 22% allows 4 items per row */
    max-width: 22%; /* Maximum width of each icon to fit 4 in a row */
    margin-bottom: 3px;
}

.more-screen {
    height: calc(120vh - 70px); /* Subtract the navigation bar's height */
    overflow-y: auto; /* Add scrolling to the friends list */
}

.more-suggestions {
    margin-top: 10px;
    border-top: var(--main-border);
    padding-top: 20px;
}

.more-suggestions__title {
    margin-bottom: 25px;
}

.more-suggestions__icons {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between items */
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 5px; /* Space between items */
}

.more-suggestions__icon {
    flex-basis: calc(25% - 10px); /* Adjusts the basis for 4 items per row minus the gap */
    flex-grow: 1;
    max-width: calc(25% - 10px); /* Prevents growing beyond 4 items per row */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3px; /* Space below each icon */
}

.more-suggestions__icon-image {
    width: 60px;
    height: 60px;
    background-color: var(--yellow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.more-suggestions__icon-image i {
    font-size: 32px;
    color: white;
}

.more-suggestions__icon-text {
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Keeps the content from spilling out of the container */
    text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
    font-size: 14px;
}

.more-screen .user-component {
    margin-bottom: 35px;
}