.more-screen .icon-row {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 13px; /* Space between items */
    margin-top: 22px;
}

.more-screen .icon-row__icons {
    flex: 1 1 22%; /* Grow to fill space, basis at 22% allows 4 items per row */
    max-width: 22%; /* Maximum width of each icon to fit 4 in a row */
    margin-bottom: 3px;
}

.more-screen {
    height: calc(120vh - 70px); /* Subtract the navigation bar's height */
    overflow-y: auto; /* Add scrolling to the friends list */
}

.more-suggestions {
    margin-top: 10px;
    border-top: var(--main-border);
    padding-top: 20px;
}

.more-suggestions__title {
    margin-bottom: 25px;
}

.more-suggestions__icons {
    display: flex;
}

.more-suggestions__icon {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-suggestions__icon-image {
    width: 60px;
    height: 60px;
    background-color: var(--yellow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.more-suggestions__icon-image i {
    font-size: 32px;
    color: white;
}

.more-screen .user-component {
    margin-bottom: 35px;
}