.profile-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* High z-index to ensure it's above other content */
}
  
.profile-content {
    background: white;
    padding: 4px; /* Adjust padding to your preference */
    border-radius: 5px;
    text-align: center;
    width: 79%; /* Fixed width for the profile container */
    height: 40%; /* Fixed height for the profile container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


.profile-popup h4 {
    font-weight: bold;
    font-size: 1.5em; /* Adjust size as necessary */
    padding-top: 12px;
    margin-bottom: 10px; /* Spacing between the name and status */
}

.profile-popup p {
    margin-top: 3px;
    font-size: 1.2em; /* Adjust size as necessary */
}

.profile-content img {
    width: 175px; /* Ensures the image tries to fill the container */
    height: 175px; /* Adjusts the height of the image to maintain the container's aspect ratio */
    border-radius: 35%; /* Rounded corners for the image */
    object-fit: cover;
    margin-bottom: 14px;
  }
  

/* .close {
    position: absolute;
    top: -1px;
    right: -20px;
    background: white;
    border-radius: 50%;
    padding: 8px 4px;
    line-height: 0.2;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 25px;
    z-index: 1001; 
} */