.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 0px;
    padding-top: var(--horizontal-space);
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

.screen-header__title {
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}

.screen-header__icons {
    display: flex;
    align-items: center; /* Ensure alignment if not already set */
    justify-content: flex-end; /* Align items to the end (right side) */
    margin-right: 0px;
}


.screen-header__icons span {
    display: flex; /* Use flex to center the content inside span */
    justify-content: space-evenly;
    align-items: center; /* Vertically center the icon and notification */
    flex-shrink: 0; /* Prevent the icons from shrinking */
    position: relative; /* For positioning the rednotification */
    margin: 0 8px;
    gap: -15px;
}

.screen-header__icons a {
    padding: 0; /* Remove padding for anchor to make it consistent with other icons */
    display: flex; /* Ensure it behaves like other flex items */
}

.screen-header__icons span:first-child {
    margin-right: 5px; /* No margin on the left side of the first icon */
}


/* Specifically target the span that wraps the gear icon with the notification */
.screen-header__icons span:last-child {
    padding-right: 0; /* Removes extra padding on the right */
    margin-left: -12px; /* Pull the gear icon slightly to the left */
    padding-left: -15px;
    margin-right: 8px; /* Pull the gear icon slightly to the left */
}

@keyframes rotateGear {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
animation: rotateGear 4s linear infinite;
}

@keyframes colorPulse {
    0% {
      color: initial;
    }
    50% {
      color: rgb(226, 89, 65); /* Highlight color */
      opacity: 0.8;
    }
    100% {
      color: initial;
    }
  }

  .screen-header__icons .fa-comment-dots {
    animation: colorPulse 2.2s infinite;
  }


.rednotification {
    position: relative;
    top: -10px;
    right: -30px;
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}